.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;

    color:yellow;
    text-align: center;
    
    background-color:rgba(189, 183, 107, 0.753);

    padding-top: 13rem; /* 16.25rem */
    padding-bottom: 1.5rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    color:green;
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.llamada__texto {
    font-size: 1.85rem;
    color:green;
    line-height: normal;
   
    margin-top: 1rem;
    margin: 0 auto 1.5rem;
}

/*
.llamada__boton {
    width: 100%;
}
*/

@media screen and (min-width: 1024px){
    .llamada {
        background-image: url(../img/conoce_1.png);
        background-size: cover;
        padding-top: 8.25rem;
    }
    .llamada__titulo {
        color:yellow;
        font-size: 5.25rem;
        margin-bottom: 2rem;
    }

    .llamada__texto {
        color: yellow;
        font-size: 3.25rem;
        line-height: normal;
    
        margin: 0 auto 2.5rem;
    }
}